@media (min-width: 950px) {
    .mobile {
        left: -15%;
    }
}

@media (max-width: 548px) {
    .logo {
        max-height: 24px;
    }

    .btn-login {
        font-size: 0.9rem;
        padding: 0.25rem 0.5rem;
    }

    .box .content h1 {
        font-size: 1.75rem;
    }

    .box .content h2 {
        font-size: 1.125rem;
    }

    .form-control {
        height: 48px;
        flex: none !important;
        width: 100% !important;
    }

    .assine .input-group-text {
        font-size: 1rem;
        min-height: 44px;
        font-weight: 500;
        border-radius: 2px;
    }

    .assine .icon-svg {
        width: 1rem;
        height: 0.8rem;
    }

    .box-background,
    .box .content
    {
        height: 88.27vh;
    }
}

@media (max-width: 767px) {
    .form-control {
        width: 100% !important;
    }

    section .col-md-6 {
        margin-top: 0 !important;
    }

    section .video-tv video,
    section .video-tv img
    {
        margin-top: 0 !important;
    }
}

@media (max-width: 949px) {
    .assine .input-group-text {
        font-size: 16px;
    }

    section .title {
        font-size: 1.925rem;
        text-align: center;
    }

    section .subtitle {
        font-size: 1.325rem;
        text-align: center;
        padding: 0 2%;
        margin-top: 1rem;
    }

    section .video-tv video,
    section .video-tv img
    {
        margin-top: 40px;
    }
}

@media (max-width: 991px) {
    section .title {
        font-size: 1.925rem;
        text-align: center;
    }

    section .subtitle {
        font-size: 1.325rem;
        text-align: center;
        padding: 0 2%;
        margin-top: 1rem;
    }

    section .video-tv video,
    section .video-tv img
    {
        margin-top: 40px;
    }
}
