@font-face {
    font-family: 'Netflix Sans';
    font-weight: normal;
    font-display: optional;
    src: url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2') format('woff2'), url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff') format('woff');
}

body {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000;
}

a, a:hover {
    color: #fff;
    text-decoration: none;
}

header {
    z-index: 10;
}

section {
    border-bottom: 8px solid #222;
}

.logo {
    max-height: 36px;
}

.btn-login {
    background-color: #e50914;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    border-radius: 3px;
}

.box-background {
    height: 83.27vh;
}

.box .box-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}